{#{% for item in objs %}#}
<b>Имя</b>: {{ user.username }}
<b>Возраст</b>: {{ user.age }}
<b>Пол</b>: {{ user.gender }}
<b>Город</b>: {{ user.city }}
<b>Описание</b>: {{ user.description }}
{#{% endfor %}#}
